header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 12px;
}

header a:last-child {
    color: var(--color-primary);
    background-color: var(--color-second);
    font-weight: bold;
    text-decoration: none;    
    padding: 4px 22px;
    border-radius: 8px;
    margin-left: 12px;
}