.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vw;
    justify-content: center;
    text-align: center;
}  

.main-section .links {
    display: flex;  
    flex-direction: column;
}